<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Deskripsi Model LSTM</title>
    <link rel="icon" href="{{ url_for('static', filename='img/unsri.jpg.png')}}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css')}}" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Analisis <img src="{{ url_for('static', filename='img/unsri.jpg.png')}}" width="20%" height="20%"> Sentimen</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Amalia Ananda Khalisa</p>
                <li>
                    <a href="/">Prediksi</a>
                </li>
                <li>
                    <a href="/deskripsi">Deskripsi</a>
                </li>
                <li>
                    <a href="/kinerja">Test</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Prediksi</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/deskripsi">Deskripsi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/kinerja">Test</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <h2>Deskripsi Model <i>Long Short-Term Memory</i> pada Perangkat Lunak</h2>
            <p>Pada perangkat lunak ini menggunakan algoritma <i>Long Short-Term Memory</i>. Pada penelitian ini menggunakan 4 layer pada model, yaitu: layer embedding, layer dropout, layer LSTM, dan layer Dense. Berikut ini adalah deskripsi parameter terbaik yang telah didapatkan dari hasil tuning hyperparameter.</p>
            <!-- <ul>
                <li>Nilai dropout pada layer dropout sebesar 0.2</li>
                <li>Jumlah neuron pada layer sebesar 32 dan nilai dropout sebesar 0.5</li>
                <li>Learning rate yang digunakan adalah Adam dengan nilai sebesar 0.001 </li>
                <li>Jumlah neuron pada layer dense sebesar 3 dan activation menggunakan softmax</li>
                <li>Epoch sebesar 30 dan Batch Size sebesar 8</li>
            </ul> -->
            <table class="table">
                <thead>
                <tr>
                <th scope="col">Parameter</th>
                <th scope="col">Nilai</th>
                </tr>
                </thead>
<tbody>
<tr>
<td>Layer <i>dropout</i></td>
<td>0.2</td>
</tr>
<tr>
<td>Jumlah Neuron LSTM</td>
<td>32</td>
</tr>
<tr>
<td>Nilai <i>dropout</i> LSTM</td>
<td>0.5</td>
</tr>
<tr>
<td>Epoch</td>
<td>30</td>
</tr>
<tr>
<td>Learning Rate</td>
<td>0.001</td>
</tr>
<tr>
<td>Batch Size</td>
<td>8</td>
</tr>
</tbody>
</table>  
            <p>Pada penelitian ini didapatkan hasil nilai akurasi pada data training sebesar 94% dan pada data uji adalah sebesar 89%. Grafik dapat dilihat di bawah ini.</p>
              <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/acc.png')}}" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Grafik di atas adalah grafik akurasi dari model yang digunakan pada perangkat lunak ini.</p>
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/loss.png')}}"  alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Grafik di atas adalah grafik loss dari model yang digunakan pada perangkat lunak ini.</p>
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/hasil-data-test.png')}}"  alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Hasil confusion matrix pada data uji dengan menggunakan data sebanyak 223 data uji. Dengan kelas 0 yang artinya kelas negatif, kelas 1 artinya kelas netral, dan kelas 2 artinya positif.</p>
                        </div>
                      </div>
                </div>
              </div>
        </div>
    </div>

    <div class="overlay"></div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>